#aboutpage h1 {
    font-family: Amatic SC, sans-serif;
    color: #18948e;
    text-align: center;
    margin-top: 20px;
    

}

#aboutpage .content-box{
 
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 50%;
    margin: auto;
    
    
}



#aboutpage .content-box .informations p {
    color: rgb(153, 153, 153);
    padding-top: 60px;
    
    
}

#aboutpage .content-box .informations {
  
    padding-left: 15px; 
    
}

#aboutpage .content-box .pic {
    background:white;
    display: flex;
    box-shadow: 10px 10px 10px rgb(214, 214, 214);
    border-radius: 30px;
    padding: 15px;

}

#aboutpage .content-box .pic img {
    border-radius: 50%;
   
    height:auto;
    
    
}

@media all and (max-width: 768px) { 
    #aboutpage .content-box{
 
        display: block;
        justify-content: center;
        margin: auto;
        width: auto;
        
        
        
    }

    #aboutpage .content-box .pic {
        background:white;
        display: block;
        box-shadow: 10px 10px 10px rgb(214, 214, 214);
        border-radius: 30px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 90px;
        
    }

    #aboutpage .content-box .informations p {
        color: rgb(153, 153, 153);
        padding-top: 10px;
       
        
        
    }

    #aboutpage .content-box .pic img {
        max-width:100%;
        height:auto;
        
    }
    
}