#contactpage h1 {
     font-family: Amatic SC, sans-serif;
    color: #18948e;
    text-align: center;
    margin-top: 20px;
    

}

#contactpage .content-box{
 
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
    
}

#contactpage .content-box .informations h3 {
    color: #18948e;

}

#contactpage .content-box .informations h4 {
    color: #f84343;
    padding-top: 30px;
}

#contactpage .content-box .informations p {
    color: rgb(153, 153, 153);
    
    
}

#contactpage .content-box .informations {
  
    padding-left: 15px; 
    
}

#contactpage .content-box .informations a {
    color: rgb(153, 153, 153)
}

#contactpage .content-box .informations a:hover {
    color: rgb(100, 100, 100)
}

#contactpage .content-box .pic {
    background:white;
    display: flex;
    box-shadow: 10px 10px 10px rgb(214, 214, 214);
    border-radius: 30px;
    padding: 15px;
}

#contactpage .content-box .pic img {
    border-radius: 50%;
    
    
}

@media all and (max-width: 768px) { 
    #contactpage .content-box{
 
        display: block;
        justify-content: center;
        
        
        
    }

    #contactpage .content-box .pic {
        background:white;
        display: block;
        box-shadow: 10px 10px 10px rgb(214, 214, 214);
        border-radius: 30px;
        padding: 15px;
        justify-content: center;
        align-items: center;
        margin-bottom: 90px;
        
    }

    #contactpage .content-box .informations p {
        color: rgb(153, 153, 153);
        padding-top: 10px;
        
        
    }

    #contactpage .content-box .pic img {
        max-width:100%;
        height:auto;
        
    }

    
}