#homepage h1 {
   font-family: Amatic SC, sans-serif;
   color: #18948e;
   text-align: center;
   margin-top: 20px;

}

#homepage .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 25px;
   
    
}

#homepage .container .content-box{
    background-color: white;
    box-shadow: 10px 10px 10px rgb(214, 214, 214);
    width: 20%;
    border-radius: 30px;
    margin: auto;
    
    
}

#homepage .container .content-box .pic img {
    border-radius: 50%;
    max-width:100%;
    height:auto;
    
    
}

#homepage .container .content-box .pic {
   padding: 30px;
}

#homepage .container .content-box .pic .informations h1 {
    font-family: Amatic SC, sans-serif;
    color: #18948e;
    text-align: center;

}

#homepage .container .content-box .pic .informations p {
    color: rgb(153, 153, 153);

}

@media all and (max-width: 768px) { 
    #homepage .container {
        display: flex;    
        justify-content: center;
        margin-bottom: 20px;
        
          
    }
    #homepage .container .content-box{
        background-color: white;
        box-shadow: 10px 10px 10px rgb(214, 214, 214);
        width: 70%;
        border-radius: 30px;
        margin: 20px;
        
        
        
    }

    
        
}